@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');

body {
    background-color: bisque;
    font-family: 'Oswald', sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}


#goat-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 1fr;
    grid-gap: 2rem;
}


main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

